button.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  color: var(--text-primary);
  background-color: transparent;

  padding: 8px 14px;
  border: 2px solid var(--text-primary);
  cursor: pointer;
}

button.action:hover {
  outline: 2px solid var(--text-primary)
}

button.action:active {
  transform: scale(0.95);
}

button.action span {
  font-size: 1.2rem;
  font-weight: 600;
}

button.action .icon-left,
button.action .icon-right {
  font-size: 1.2rem;
}
