.hero {
  margin-top: 140px !important;
  padding: 20px;
}

.hero .content {
  display: flex;
  margin-bottom: 30px;
}

.hero h1,
.hero h1 > * {
  color: var(--text);
  font-weight: 400;
  font-size: 3rem;
}

.hero h1 span {
  color: var(--text-primary);
}

.hero .description {
  font-size: 1.3rem;
  color: var(--text);
}

.hero .skills {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.hero .skills img {
  height: 60px;
}

@media only screen and (max-width: 650px) {
}
