.home-section {
  position: relative;
  align-items: center;
  width: var(--page-width);
  max-width: var(--page-max-width);
  margin: auto;
  /* min-height: 100vh; */
  overflow: hidden;
}

.home-section h1.heading {
  margin-top: 80px;
  color: var(--text-muted);
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  /* text-align: center; */
}

/* cards */
.home-section .cards-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-top: 50px;
  gap: 30px;
}

.home-section .cards-group .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 18px;
  background-color: var(--background-primary-t);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* .home-section .cards-group .card:nth-child(2n) {
  flex-direction: row-reverse;
} */

.home-section .cards-group .card>* {
  position: relative;
  /* flex: 1; */
}

.home-section .cards-group .card .left {
  /* flex: 1; */
  height: 150px;
}

.home-section .cards-group .card .right {
  padding: 20px;
  height: 100%;
  /* flex: 2; */
}

.home-section .cards-group .card .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
  transition: 0.2s ease-out;
  cursor: crosshair;
}

.home-section .cards-group .card img.banner {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  /* border-radius: 24px 24px 0 0; */
}

.home-section .cards-group .card .icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.home-section .cards-group .card .icons img {
  width: auto;
  height: 55px;
}

.home-section .cards-group .card .icons img.logo {
  width: 70px;
  height: 70px;
}

.home-section .cards-group .card .left:hover .overlay {
  opacity: 1;
}

.home-section .cards-group .card .name {
  display: flex;
  align-items: center;
  /* gap: 15px; */
  margin-bottom: 10px;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--text);
}

.home-section .cards-group .card .stargazers {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 4px 8px;
  color: var(--background-primary);
  background-color: var(--text-primary);
  font-weight: 500;
  border-radius: 9999999px;
}

.home-section .cards-group .card .tags-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 24px;
}

.home-section .cards-group .card .tag {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 6px 10px;
  font-size: 0.9rem;
  color: var(--text-shy);
  background-color: var(--background);
  border-radius: 8px;
}

.home-section .cards-group .card .tag.wip {
  color: #FF6F61;
  font-weight: 500;
}

.home-section .cards-group .card .tag.stargazers {
  color: var(--text-primary);
  font-weight: 500;
}

.home-section .cards-group .card .tag.downloads {
  color: #27ae60;
  font-weight: 500;
}

.home-section .cards-group .card .type {
  color: var(--text-muted);
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.home-section .cards-group .card .description {
  color: var(--text-shy);
  font-size: 1.05rem;
}

.home-section .cards-group .card .link {
  margin-top: 20px;
  float: right;
}

@media only screen and (max-width: 900px) {
  .home-section h1.heading {
    margin-top: 60px;
  }

  .home-section .cards-group {
    margin-top: 25px;
    gap: 20px;
  }

  .home-section .cards-group .card .type {
    margin-bottom: 8px;
  }

  .home-section .cards-group .card .name {
    margin-bottom: 8px;
  }

  .home-section .cards-group .card .tags-group {
    margin-bottom: 16px;
  }

  .home-section .cards-group .card .icons img {
    height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .home-section .cards-group {
    grid-template-columns: repeat(1, 1fr);
  }
}